<router-outlet></router-outlet>
<section class="container">
  <div class="inputContainer">
    <h1>Angular Weather App</h1>
    <form (submit)="submitCity(city)">
      <input class="input" type="text" placeholder="Ingrese una Ciudad" #city>
      <button class="btn">Buscar</button>
    </form>
  </div>
  <div *ngIf="loader" class="loaderContainer">
    <img src="../assets/svg/rings.svg" alt="loader">
    <h5>loading...</h5>
  </div>
  <div *ngIf="!loader" class="data" [ngClass]="{'day': isDay, 'night': !isDay}">
    <div class="place">
      <h5>{{weather.location.name}}</h5>
      <h6>{{weather.location.region}},{{weather.location.country}}</h6>
    </div>
    <div class="iconContainer">
      <div class="temp">
        <h2>{{weather.current.temp_c}}°</h2>
        <div class="icon">
          <h3>{{weather.current.condition.text}}</h3>
          <img src={{weather.current.condition.icon}} alt="Icon">
        </div>
      </div>
    </div>
  </div>
</section>